@mixin source-pro{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@mixin poppins-medium{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}