@use 'fonts';

.header{
    display:flex;
    width:100%;

    justify-content:space-between;

    &__logo{
        width:90px;
        height:38px;
    }

    &__ul{
        display:flex;
        list-style-type: none;
        justify-content:space-between;
        @include fonts.source-pro;
        font-size:16px;
        line-height:22.4px;
        padding:0; /*ul seems to have a default margin-left so i changed it to 0 to gve the list items enough space and therefore stopping them from concatenating*/
        height:25px;
       
    }

}

nav{
    max-width:267px; 
    width:100%; 
    /*  
        https://www.w3schools.com/cssref/css_units.php
        
        A width value that uses % is relative to the parent element's width, but when you set max-width on an element + width:100% it uses 100% of its own max width and not 100% of the parent element's width. 
        So max-width kind of makes the element become its own parent element. You can test by commenting out the max width property above and compare to when it's not commented out.
    */
}