@use 'header';
@use 'main';

body{
    height:100vh;
}

@media (orientation:landscape){
    body{
        background-color:red;
    }

}

@media (orientation:portrait){
    body{
        background-color:blue;
    }

}

.center{
    display:flex;
    justify-content:center;
    max-width:864px;
    box-sizing: content-box;
}