
/*320px is the smallest screen size */

@use 'fonts';

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.header{
    margin:50px;
    display:flex;
    flex-wrap:wrap;
    max-width:864px;
    width:100%;
    align-items:center;
    justify-content:space-between;

    &__logo{
        width:90px;
        height:38px;
    }

    &__ul{
        display:flex;
        list-style-type: none;
        @include fonts.source-pro;
        font-size:16px;
        line-height:22.4px;
        gap:10px;
    }

}

.warning{
    size:100vw;
    position:absolute;
    background-color:red;
    visibility:hidden;
}

@media (orientation:landscape){ /* monitor */
    body{
        background-color:green;
    }

}

@media (orientation:portrait){ /* tablet */
    body{
        background-color:blue;
    }
}

@media (orientation:portrait) and (max-width:480px){ /* phone */
    .kill{
        display:none;
    }
}

@media (max-width:320px){ 
    body{
        background-color:red;

    }

    .warning{
        visibility: visible;
    }
}

h1{
    display:block;
}